body{
    background-color: #F7C8E0;
    text-align: center;
}
hr{
   
    border-style:  none; 
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 50%;
}
h1,h2,em,p{
    color: purple;
}

table{
    color: purple;
    box-sizing: unset;
    text-decoration: dashed;
}